# ==================================
# Файлы и папки PyCharm
# ==================================
# Папка с настройками проекта для PyCharm.
# У каждого разработчика они могут быть свои.
.idea/

# ==================================
# Виртуальные окружения
# ==================================
# Никогда не добавляйте виртуальное окружение в Git.
# Оно много весит и создается командой `python -m venv venv`
venv/
env/
*.env

# ==================================
# Временные файлы Python
# ==================================
# Папки с кэшем байт-кода
__pycache__/
# Скомпилированные файлы
*.pyc
*.pyo
*.pyd

# ==================================
# Файлы дистрибутивов и сборки
# ==================================
build/
dist/
*.egg-info/
*.egg

# ==================================
# Локальные базы данных и секреты
# ==================================
# Файлы с секретными данными (пароли, токены)
.env
.env.*
secrets.ini
# Локальные базы данных SQLite
*.db
*.sqlite3
# Файлы логов
*.log

# ==================================
# Файлы операционных систем
# ==================================
# macOS
.DS_Store
# Windows
Thumbs.db

result/